<section class="h-100 gradient-custom mt-3">
  <form action="/product/purchaseProcessing" method="POST" name="Cart-Form">
    <div class="container py-5">
      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Check out</h5>
            </div>
            {{#if User}}
            <div class="ms-4 mt-3">
              <i class="bi bi-houses-fill address"></i>
              <h4 class="mb-0 address ms-1">Delivery Address</h4>
              <h5>
                {{User.name}}
                <input name="idCustomer" value="{{User._id}}" style="display: none;">
                <input name="nameCustomer" value="{{User.name}}" style="display: none;">
                <input name="imageCustomer" value="{{User.image}}" style="display: none;">
              </h5>
              <p>
                {{User.address}}
                <input name="deliveryAddress" value="{{User.address}}" style="display: none;">
              </p>
            </div>
            {{/if}}
            <hr class="my-4" >
            <div class="card-body">
              <!-- Single item -->
              {{#each product}}
              <div class="row">
                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                  <!-- Image -->
                  <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                    <img src="{{this.image}}"
                      class="w-100" alt="{{this.name}}" />
                      <input name="image[]" value="{{this.image}}" style="display: none;">
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                    </a>
                  </div>
                  <!-- Image -->
                </div>
                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <!-- Data -->
                  <p><strong>{{this.name}}</strong></p>
                  <input name="idAuthor[]" value="{{this.idAuthor}}" style="display: none;">
                  <input name="name[]" value="{{this.name}}" style="display: none;">
                  <input name="idProduct[]" value="{{this.idProduct}}" style="display: none;">
                  <!-- Description -->
                  <p>{{this.description}}</p>
                  <input name="description[]" value="{{this.description}}" style="display: none;">
                  <!-- Quantity -->
                  <p>Quantity: {{this.quantityToBuy}}</p>
                  <!-- Price -->
                  <p class="text-start">
                    <strong>Unit price: {{this.price}} $</strong>
                  </p>
                  <button type="button" class="btn btn-danger btn-sm mb-2 me-1" data-mdb-toggle="tooltip"
                  id="btnLike" data-id="{{this._id}}"
                    title="Move to the wish list">
                    <i class="bi bi-suit-heart"></i>
                  </button>
                </div>     
              </div>
              <hr class="my-4" >
              {{/each }}
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <p><strong>Shipping option</strong></p>
              <a data-bs-toggle="modal" href="#exampleModal"><strong>CHANGE</strong></a>
              <div class="infoTrans mt-3">
                <img src="" alt="" id="Image-Transporter" class="transporter-avt" hidden>
                <p id="Name-Transporter" class="name-transporter">You need to choose transporter</p>
                <input name="idTransporter" id="Id-Transporter" style="display: none;"  required>
              </div>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body">
              <p><strong>We accept</strong></p>
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                alt="Visa" />
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                alt="American Express" />
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                alt="Mastercard" />
              <i class="bi bi-paypal"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
           {{#if product}}
              <div class="card-header py-3">
                <h5 class="mb-0">Summary</h5>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  {{#each product}}
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                    Products
                    <strong>{{name}} </strong>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                    Unit Price
                    <span>{{price}} $</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                    Quantity
                    <span>{{quantityToBuy}}</span>
                    <input name="idCart[]" value="{{_id}}" style="display: none;">
                    <input name="quantityToBuy[]" value="{{quantityToBuy}}" style="display: none;">
                    <input name="price[]" value="{{price}}" style="display: none;">
                  </li>
                
                  {{/each}}
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    Shipping
                    <strong>Gratis</strong>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                    Transporter
                    <strong id="Name-Transporter-2">None</strong>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                    <div>
                      <strong>Total amount</strong>
                      {{#if forCal}}
                      <strong>
                        <p class="mb-0">(including VAT)</p>
                      </strong>
                    </div>
                    <span><strong>{{totalPrice forCal}} $</strong></span>
                    {{/if}}
                    
                  </li>
                </ul>

                <button id="buyBtn" type="submit" class="btn btn-primary btn-lg btn-block">
                  Buy now
                </button>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </form>
</section> 

<!-- Scrollable modal -->
<div class="modal fade modal-dialog-scrollable" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Choose transporter</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{#each transporter}}
        <button class="btn-transporter my-2" data-id="{{this._id}}" data-bs-dismiss="modal" onclick="changeText('{{this.image}}', '{{this.name}}','{{this._id}}')">
          <i class="bi bi-cursor-fill icon-transporter"></i>
          <img src="{{this.image}}" alt="Transporter Avatar" class="transporter-avt"> 
          <p class="name-transporter">{{this.name}}</p>
        </button> 
        {{/each}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  var buyBtn = document.getElementById('buyBtn')
  var imageTransporter = document.getElementById('Image-Transporter')
  buyBtn.addEventListener('click', function(e){ 
    var idtras = document.getElementById('Id-Transporter')
    var valueID = idtras.value
    if(valueID == ''){
        alert('Please select a shipping carrier.')
      }
  })
      function changeText(image, name, id) {
      imageTransporter.src = image;
      imageTransporter.removeAttribute('hidden')
      document.getElementById('Name-Transporter').textContent = name;
      document.getElementById('Name-Transporter-2').textContent = name;
      document.getElementById('Id-Transporter').value = id;
    }
    




</script>