<div class="container mt-5">
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-md-12">
        <div class="ibox">
          <div class="ibox-title">  
            <span class="pull-right">(<strong>{{numberOfOrders}}</strong>) items</span>
            <h5>Purchase manager</h5>
          </div>
          {{#each orderManagement}}
          <div class="ibox-content">
            <div class="table-responsive">
              <table class="table shoping-cart-table">
                <tbody>
                    <tr>
                      <td width="140">
                          <img src="{{this.image}}" alt="Cart Image" class="cart-image" style="width: 100px;">
                      </td>
                      <td class="desc">
                          <h3>
                          <a href="#" class="text-navy">
                              {{this.name}}
                          </a>
                          </h3>
                          <p class="small">
                              {{this.deliveryAddress}}
                          </p>
                          <dl class="small m-b-none" style="max-width: 300px;">
                              <dt>Description lists</dt>
                              <dd>{{this.description}}</dd>
                          </dl>
                          <dl class="small m-b-none" style="max-width: 300px;">
                              <dt>Status</dt>
                              <dd>{{this.orderStatus}}</dd>
                          </dl>
                          <div class="m-t-sm">
                              <a href="#" class="text-muted" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="Your review about {{this.name}}" 
                              data-id="{{this.idProduct}}"><i class="bi bi-star-half"></i> Evaluate</a>
                              |
                              <a href="#" class="text-muted" data-bs-toggle="modal" data-bs-target="#delete-product-modal" 
                              data-id-product-delete="{{this._id}}"><i class="bi bi-trash"></i> Remove item</a>
                          </div>
                      </td>
                      <td>
                          ${{this.price}} 
                      </td>
                      <td width="65">
                          <input type="text" class="form-control" placeholder="{{this.quantityToBuy}}" readonly>
                      </td>
                      <td>
                          <h4>
                              ${{total this.price this.quantityToBuy}}
                          </h4>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          {{/each}}
          <div class="ibox-content">
            <button class="btn btn-white"><i class="fa fa-arrow-left"></i> Continue shopping</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/evaluate/addEvaluate" method="POST">
          <div class="mb-3">
            <span class="star" onclick="rateStar(1)">★</span>
            <span class="star" onclick="rateStar(2)">★</span>
            <span class="star" onclick="rateStar(3)">★</span>
            <span class="star" onclick="rateStar(4)">★</span>
            <span class="star" onclick="rateStar(5)">★</span>
            <input type="number" name="evaluate" id="starNumber" value="0" hidden>
            <input type="text" name="idProduct" id="idProduct" hidden>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" name="commentContent" id="message-text"></textarea>
          </div>
      </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Send message</button>
          </div>
        </form>
    </div>
  </div>
</div>

{{!-- Modal --}}
<div class="modal fade" id="delete-product-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this product?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="deleteProduct" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

<form name="Delete-Hidden-Product" method="POST"></form>

<script>
  var exampleModal = document.getElementById('exampleModal')
  var deleteProductModal = document.getElementById('delete-product-modal')
  var starNumberInput = document.getElementById('starNumber')
  var productID
  var deleteForm = document.forms['Delete-Hidden-Product']
  exampleModal.addEventListener('show.bs.modal', function (event) {
  // Button that triggered the modal
  var button = event.relatedTarget
  // Extract info from data-bs-* attributes
  var recipient = button.getAttribute('data-bs-whatever')
  var idProduct = button.getAttribute('data-id')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  var modalTitle = exampleModal.querySelector('.modal-title')
  var modalIdProduct = exampleModal.querySelector('#idProduct')
  modalTitle.textContent = recipient
  modalIdProduct.value = idProduct
  
})

      function rateStar(starNumber) {
      // Reset all stars to white
      for (let i = 1; i <= 5; i++) {
        const star = document.querySelector(`.star:nth-child(${i})`);
        star.style.color = '#ddd';
      }

      // Set the clicked star and stars to its left to black
      for (let i = 1; i <= starNumber; i++) {
        const star = document.querySelector(`.star:nth-child(${i})`);
        star.style.color = 'black';

      }
      starNumberInput.value = starNumber
    }



  deleteProductModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget; 
    productID = button.getAttribute('data-id-product-delete'); 
  })

  deleteProduct.onclick = function(){
    deleteForm.action = '/product/orderManagement/deleteOrderedProducts/' +  productID + '/?_method=DELETE';
    deleteForm.submit();
  }

</script>