<div class="row">
  <div class="col-sm-6 col-lg-6 mt-4">
    <div class="card">
        <img src="{{product.image}}" class="card-img-top showProduct" alt="..." data-id="{{product.name}}"/>
    </div>
  </div>
  <div class="col-sm-6 col-lg-6 mt-4 ">
    <div class="row g-3 needs-validation">
      <input id="idProduct" value="{{product._id}}" style="display: none;">
      <h5 class="card-title">{{product.name}}</h5>
      <div class="col-lg-12">
        {{#times product.evaluate}}
          <i class="bi bi-star-fill star-evaluate" style="display: inline-block;"></i>
        {{/times}}
      </div>
      <span class="text-base align-baseline" style="line-height: 1.25rem;">Price: {{product.price}} $</span>
      <p class="card-text" name="description">Description: {{product.description}}</p>
      <p class="card-text">Quantity: {{product.quantity}} pieces available</p>
      <div class="d-flex" style="max-width: 300px">
        <div class="form-outline">
          <input id="quantityToBuy" min= 0 max={{product.quantity}} value = 0 type="number" class="form-control" />
          <label class="form-label" for="form1">Quantity</label>
        </div>   
      </div>
      <div class="invalid-feedback">
        Please enter quantity !
      </div>
      <div class="row">
        <div class="col-lg-6">
          <button class="btn btn-primary addToCart-btn" id="btnCart"><i class="bi bi-bag-check-fill"></i> Add to cart</button>
        </div>
        <div class="col-lg-6">
          <button class="btn btn-primary buy-btn" id="btnBuy">Buy now</button>
        </div>
      </div>
    </div>
  </div>
</div> 
{{!-- {{alert}}
{{message.warning}} --}}
  {{#if alert}}
      <div class="alert alert-warning" role="alert">
        {{message.warning}} - 
        {{!-- <a href={{href}}>{{atag}}</a> --}}
      </div>
  {{/if}}
{{> comment}}

<form name="Add-Commemt-Form" method="GET"></form>
<form name="Product-Form"></form>

<script>
  $(document).ready(function(){
  var ProductForm = document.forms['Product-Form'];
  var addCommentForm = document.forms['Add-Commemt-Form'];
  var commentContent;
  var inputValue = document.getElementById('quantityToBuy');
  var idProduct = document.getElementById('idProduct').value;
  var maxValue = inputValue.max


  btnBuy.onclick = function(){
    if (inputValue.value === '0') {
        alert('Please select product quantity');
        return false;
      }
        ProductForm.action = '/product/checkout/'+ idProduct +'/'+ inputValue.value;
        ProductForm.method = 'GET';
        ProductForm.submit();
  }

  btnCart.onclick = function(){
    if (inputValue.value === '0') {
        alert('Please select product quantity');
        return false;
      }
    ProductForm.action = '/product/addToCart/'+ idProduct +'/'+ inputValue.value;
    ProductForm.method = 'POST';
    ProductForm.submit();
  }

  post.onclick= function(){
    commentContent= $("#msg").val()
    addCommentForm.action = '/evaluate/addComment/' + commentContent +'/'+ idProduct ;
    addCommentForm.method = 'POST'
    addCommentForm.submit();
  }
})

</script>