<div class="row">
  <div class="col-sm-6 col-lg-6 mt-4">
        <div class="card">
            <img src="{{product.image}}" class="card-img-top showProduct" alt="..." data-id="{{product.name}}"/>
        </div>
</div>
<div class="col-sm-6 col-lg-6 mt-4">
  <div class="">
    <form action="/product/addToCart" method="POST" class="row g-3 needs-validation" name="Cart-Form">
      <input name="idProduct" value="{{product._id}}" style="display: none;">
      <input name="quantity" value="{{product.quantity}}" style="display: none;">
      <input name="description" value="{{product.description}}" style="display: none;">
      <input name="name" value="{{product.name}}" style="display: none;">
      <input name="image" value="{{product.image}}" style="display: none;">
      <input name="price" value="{{product.price}}" style="display: none;">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text" name="description">Description: {{product.description}}</p>
      <p class="card-text">Quantity: {{product.quantity}} pieces available</p>
      <div class="input-group">
        <input type="text" name="quantityToBuy" class="form-control" placeholder="Quantity" aria-label="Quantity" required>
      </div>
      <div class="invalid-feedback">
        Please enter quantity !
      </div>
      <p class="card-text">Price: {{product.price}} VND</p>
      <button class="btn btn-primary" id="btnBuy">Buy now</button>
      <button class="btn btn-warning" type="submit" id="btnCart">Add to cart</button>
    </form> 
  </div>
</div>
</div> 


<script>
  var CartForm = document.forms['Cart-Form'];
  btnBuy.onclick = function(){
    CartForm.action = '/product/checkout/';
    CartForm.method = 'GET';
    CartForm.submit();
  }
</script>