
<div class="container">
  <div class="row">
    {{> adminListItem}}
    <div class="col-lg-9">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Commenter</th>
            <th scope="col">Product id</th>
            <th scope="col">Content</th>
            <th scope="col">Created</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          {{#each comment}}
            <tr>
              <th scope="row">{{sum @index 1}}</th>
              <td>{{this.nameUser}}</td>
              <td>{{this.idProduct}}</td>
              <td>{{this.commentContent}}</td>
              <td>{{this.createdAt}}</td>
              <td>
                  <a href="updateAccount/{{this._id}}/deleteAccount" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#delete-account-modal" data-id="{{this._id}}">
                  <i class="bi bi-trash3-fill"></i>
                  </a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="6" class="text-center">
                Empty Data 
                <a href="createCategory">Add Data</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>  
    </div>
  </div>
</div>






