<div class="container">
  <div class="row">
    {{> adminListItem}}
    <div class="col-lg-9 admin-table">  
      <div class="mt-4">
        <h3>Trash</h3>
        <a href="/admin/updateCategory">Back to category list</a>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">CreatAt</th>
            <th scope="col">DeleteAt</th>
            <th scope="col">Restore</th>
            <th scope="col">Destroy</th>
          </tr>
        </thead>
        <tbody>
          {{#each categories}}
            <tr>
              <th scope="row">{{sum @index 1}}</th>
              <td>{{this.name}}</td>
              <td><img src="{{this.image}}" alt="Image Category" style="max-width: 100%; max-height: 100%;"></td>
              <td>{{this.createdAt}}</td>
              <td>{{this.deletedAt}}</td>
              <td><a href="" class="btn btn-link restore-btn" data-id="{{this._id}}">Restore</a></td>
              <td><a href="updateCategory/{{this._id}}/deleteCategory" class="btn btn-link destroy-btn" data-bs-toggle="modal"
                  data-bs-target="#delete-category-modal" data-id="{{this._id}}">Destroy</a></td>
            </tr>
            {{else}}
            <tr>
              <td colspan="6" class="text-center">
                Empty trash can
                <a href="updateCategory">Category list</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{!-- Modal --}}
<div class="modal fade" id="delete-category-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this content?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="deleteCategory" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
<form name="Delete-Hidden-Category" method="POST"></form>
<form name="Restore-Hidden-Category" method="POST"></form>   
<script>
  var categoryId;
  var deleteForm = document.forms['Delete-Hidden-Category'];
  var restoreForm = document.forms['Restore-Hidden-Category'];
  var restoreBtn = $('.restore-btn');
  var exampleModal = document.getElementById('delete-category-modal');

  exampleModal.addEventListener('show.bs.modal', function (event) {
  var button = event.relatedTarget; 
  categoryId = button.getAttribute('data-id'); 
  })
  deleteCategory.onclick = function(){
    deleteForm.action = '/admin/' +  categoryId + '/force?_method=DELETE';
    deleteForm.submit();
  }

  restoreBtn.click(function(e){
    e.preventDefault();
    var categoryId = $(this).data('id')
    restoreForm.action = '/admin/' +  categoryId + '/restore?_method=PATCH';
    restoreForm.submit();
  })

</script>