<section class="h-100 gradient-custom-2">
  {{!-- {{#if account}} --}}
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-12 col-xl-12">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                <img src="{{account.imageBrand}}"
                  alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                  style="width: 150px; z-index: 1">
                <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                  style="z-index: 1;">
                  Edit profile
                </button> 
              </div>
              <div class="ms-3" style="margin-top: 130px;">
                <h5>{{account.brand}}</h5>
                <p>{{account.address}}</p>
              </div>
            </div>
            <div class="p-4 text-black" style="background-color: #f8f9fa;">
              <div class="d-flex justify-content-end text-center py-1">
                <div>
                  <p class="mb-1 h5">?</p>
                  <p class="small text-muted mb-0">Photos</p>
                </div>
                <div class="px-3">
                  <p class="mb-1 h5">?</p>
                  <p class="small text-muted mb-0">Followers</p>
                </div>
                <div>
                  <p class="mb-1 h5">?</p>
                  <p class="small text-muted mb-0">Following</p>
                </div>
              </div>
            </div>
            <div class="card-body p-4 text-black">
              <div class="mb-5">
                <p class="lead fw-normal mb-1">About</p> 
                <a type="submit" href="/account/profile/personalService/unprocessedOrder/{{session.idUser}}" class="btn btn-info" style="z-index: 1;">
                  View orders that need to be processed
                </a>
              <div class="row">
                {{#each product}}
                  <div class="col-sm-12 col-lg-4 mt-4">
                    <div class="card">
                      <a href="/product/productDetails/{{this._id}}">
                        <img src="{{this.image}}" class="card-img-top showProduct" alt="..." data-id="{{this.name}}"/>
                      </a>
                      <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">Quantity: {{this.quantity}}</p>
                        {{#times this.evaluate}}
                          <i class="bi bi-star-fill star-evaluate"></i>
                        {{/times}}
                        <p class="card-text">Price: <strong>{{this.price}} $</strong></p>       
                      </div>
                    </div>
                  </div>
                  {{else}}
                  <h2 class="text-center">There are no products posted</h2  >
                {{/each}}  
              </div>
              </div>   
            </div>
          </div>
        </div>
      </div>
    </div>
  {{!-- {{/if }} --}}
</section>