<section>
    <div class="container mt-5 comment-container">
        <div class="row">
            <div class="col-sm-5 col-md-6 col-12 pb-4">
              <h2>Comments</h2>     
                {{#each comment}}
                  <div class="comment mt-4 text-justify float-left">
                    <img src="{{this.imageUser}}" alt="" class="rounded-circle" width="40" height="40">
                    <h4>{{this.nameUser}}</h4>
                    <span>{{this.createdAt}}</span>
                    <br>
                    <strong>{{this.commentContent}}</strong><br>
                    {{this.like}}
                    {{likeBtn this._id this.type}}
                    {{this.dislike}}
                    {{disLikeBtn this._id this.type}}
                    {{!-- {{../CommentInteraction.listLikeComment}} --}}
                    {{#if ../alert}}
                      {{#if (checkIdComment ../message.idComment this._id)}}
                        <div class="alert alert-warning" role="alert">
                          {{../message.warning}}—<a href="/account/signIn">{{../message.atag}}</a>!
                        </div>
                      {{/if}}
                    {{/if}}
                  </div>
                {{/each}}
            </div>
            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
              <form id="algin-form">
                <div class="form-group">
                  <h4>Leave a comment</h4>   
                  <textarea id="msg" cols="30" rows="5" class="form-control" 
                            style="background-color: white;" >
                  </textarea>
                </div>
                <div class="form-group">
                    <p class="text-secondary">If you have a <a href="#" class="alert-link">gravatar account</a> your address will be used to display your profile picture.</p>
                </div>
                <div class="form-inline">
                    <input type="checkbox" name="check" id="checkbx" class="mr-1">
                    <label for="subscribe">Subscribe me to the newlettter</label>
                </div>
                <div class="form-group">
                    <button type="button" id="post" class="btn btn-primary">Post Comment</button>
                </div>
              </form>
            </div>
        </div>
    </div>
</section>







