<nav class="navbar navbar-expand-lg navbar-light navbar-light-blue mt-2">
  <div class="container">
    <i class="bi bi-bag-check-fill logo-shop me-2"></i>
    <a class="navbar-brand" href="/"><strong class="brand">QShop</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex flex-grow-1 justify-content-between align-items-center">
        <div class="search container d-lg-flex justify-content-end align-items-center me-lg-2" style="display:{{display}};">
          <form class="d-flex" action="/product/searchResults" method="GET">
            <input class="form-control me-2 search-product" type="search" placeholder="Search" aria-label="Search" name="nameProduct"/>
            <button class="btn btn-light" type="submit"><i class="bi bi-search"></i> Search</button>
          </form>
        </div>
        <ul class="navbar-nav ms-auto flex-nowrap">
          {{#if session.accountName}}
            <div class="cart-icon mt-2 me-lg-2">
              <a href="/product/cart">
                <i class="bi bi-bag-check-fill cart-icon"></i>
              </a>
            </div>
          {{/if}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle name" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{#if session.accountName}}
                <img src="{{session.image}}" alt="..." class="user-avt me-1" >
                {{session.accountName}}
              {{else}}
                <span>Sign in</span>
              {{/if}}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              {{#if session.accountName}}
                {{#if session.hasPost}}
                  <li><a class="dropdown-item" href="/product/addProduct">Post products for sale</a></li>
                {{/if}}
                <li><a class="dropdown-item" href="/account/decentralization">Register as a service provider</a></li>
                <li><a class="dropdown-item" href="/account/logOut">Log out</a></li>
                <li><a class="dropdown-item" href="/account/profile">Profile</a></li>
              {{else}}
                <li><a class="dropdown-item" href="/account/signIn">Sign in</a></li>
              {{/if}}
              <li><a class="dropdown-item" href="/account/signUp">Sign up</a></li>
              <li><a class="dropdown-item" href="/account/changePassword">Change Password</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="/account/forgetPassword">Forget Password</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>




{{!-- <div class="wrapper">
        <header>
          <nav>
              <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
              </div>
              <div class="logo">
                LOGO
              </div>
              <div class="menu">
                <ul>
                    {{#if session.accountName}}
                    <li><a class="" href="/account/profile">Profile</a></li>
                    <li><a class="" href="/account/signUp">Sign up</a></li>
                    <li><a class="" href="/account/changePassword">Change Password</a></li>
                    <li><a class="" href="/account/forgetPassword">Forget Password</a></li>
                    <li><a class="" href="/account/logOut">Log out</a></li>
                    {{else}}
                    <li><a href="/account/signIn">Sign in</a></li>
                    {{/if}}
                    
                </ul>
              </div>
          </nav>
        </header>
    
    </div>


<script>
$(document).ready(function() {
            $(".menu-icon").on("click", function() {
                  $("nav ul").toggleClass("showing");
            });
      });

      // Scrolling Effect

      $(window).on("scroll", function() {
            if($(window).scrollTop()) {
                  $('nav').addClass('black');
            }

            else {
                  $('nav').removeClass('black');
            }
      })
</script> --}}